.calendarToggler {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;

    p {
        margin: 0 25px;
        min-width: 130px;
    }

    button {
        background: rgb(210, 60, 62);
        border-radius: 5px;
        border: none;
        width: 30px;
        height: 30px;
        font-size: 30px;
        transition: transform 0.25s, border-radius 0.25s, box-shadow 0.25s, background-image 0.25s;
        line-height: 30px;
        cursor: pointer;
        position: relative;
        &:before {
            width: 100%;
            height: 100%;
            background-image: linear-gradient(-45deg, rgba(255,255,255,.3),  rgba(0,0,0,0.25));
            box-shadow: 
                10px 10px 20px rgba(0,0,0,0.25),
                -12px -10px 20px rgba(255,255,255,.2);
            border-radius: 5px;
            transition: transform 0.25s, border-radius 0.25s, box-shadow 0.25s, background-image 0.25s;
            position: absolute;
            width: 30px;
            height: 30px;
            top: 0;
            left: 0;
        }
        &:hover {
            box-shadow: 
                10px 10px 20px rgba(0,0,0,0.25),
                -12px -10px 20px rgba(255,255,255,.2);
            border-radius: 7px;
            &:before {
                border-radius: 7px;
            }
        }
        &:active {
            box-shadow: 
                5px 5px 12px rgba(0,0,0,0.25),
                -5px -6px 15px rgba(255,255,255,.2);
            border-radius: 7px;
            &:before {
                border-radius: 7px;
            }

        }
    }

    .prev {
        &:before {
            content: '\003C';
        }
    }
    .next {
        &:before {
            content: '\003E';
        }
    }
}
.calendarContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    background-image: linear-gradient(-45deg, rgba(0,0,0,0.25), rgba(255,255,255,.3));
    box-shadow: 
        10px 10px 20px rgba(0,0,0,0.25),
        -12px -10px 20px rgba(255,255,255,.2);
    border-radius: 15px;
    .calendar {
        width: 100%;
        display: grid;
        margin: auto;
        padding: 10px 0;
        justify-items: center;
        grid-template-rows: 12vh 12vh 12vh 12vh 12vh;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
        &.extraRow {
            grid-template-rows: 12vh 12vh 12vh 12vh 12vh 12vh;
        }
    
    }
    .dayIndicator {
        display: flex;
        justify-content: space-between;
        padding: 10px calc(100% / 15.2) 0;
        
    }
}