
.day {
    height: 90%;
    width: 85%;
    margin: auto 0;
    background-image: linear-gradient(-45deg, rgba(255,255,255,.3),  rgba(0,0,0,0.25));
    box-shadow: 
        10px 10px 20px rgba(0,0,0,0.25),
        -12px -10px 20px rgba(255,255,255,.2);
    border-radius: 15px;
    transition: transform 0.25s, background-image 0.25s;
    &.currentDay {
        background-image: linear-gradient(-45deg,  rgba(59, 39, 39, 0.25), rgba(233, 200, 200, 0.3));
        box-shadow: 
            10px 10px 20pxrgba(59, 39, 39, 0.25),
            -12px -10px 20px rgba(233, 200, 200, 0.3);
    }
    &.active {
        background-image: linear-gradient(-45deg,  rgba(0,0,0,0.25), rgba(255,255,255,.3));
        background-size: 120% 120%;
        transform: scale(1.15);
        -webkit-animation: Animation 1s ease forwards;
        -moz-animation: Animation 1s ease forwards;
        animation: Animation 1s ease forwards;
    }
}
  
@-webkit-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@keyframes Animation { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%; background-size: 100% 100%;}
}